[2014-01-08 18:17] jzaefferer opened #1 "Check for valid module names"
Need to figure out how to pass valid modules.

[2014-01-10 16:45] jzaefferer opened #2 "Reject colon between [closes/fixes/etc.] and ticket references"
Valid:

[code]

Invalid:

[code]

[2014-01-13 15:39] scottgonzalez opened #3 "Support tag commits"
`npm version patch` should work ;-)

[2014-01-14 10:40] #2 closed, assigned to nobody

[2014-01-14 10:45] #3 closed, assigned to nobody

[2014-01-14 14:31] jzaefferer opened #4 "Allow single-line commit with comments afterwards"
This is valid:

[code]

[2014-01-15 13:13] jzaefferer opened #5 "Update readme"
I've changed the defaults to match the jQuery commit message rules, should get that into the readme, along with a link to that guide. Until someone asks for different rules, that should be enough.

[2014-01-15 13:14] jzaefferer opened #6 "Update error for ticket references"
Currently doesn't match the actual regex in use, see also https://github.com/jzaefferer/commitplease/commit/557d037092761ea5ef2ae87c93d12c690a521eb1#commitcomment-5062296

[2014-01-15 16:10] #4 closed, assigned to nobody

[2014-01-15 16:10] #5 closed, assigned to nobody

[2014-01-15 16:10] #6 closed, assigned to nobody

[2014-01-21 15:45] bdowling opened #7 "Ticket References non-bug regex fixes"
fwiw, I noticed that the regexes here could be simplified a bit

https://github.com/jzaefferer/commitplease/blob/master/lib/validate.js#L48

I noticed it mainly because of the '(sd)' vs '[sd]' semi-bug on "fix", but it doesn't really matter because they're optional -- as long as the line starts with fixSOMETHING it'll detect it and complain if it doesn't include a ticket ref.  So the (e[sd]) is ex

[2014-01-22 17:31] jzaefferer opened #8 "Support Windows"
@fnagel has tested on Windows 7, the module isn't working as expected. It looks like creation of the symlink fails, but it doesn't log any errors.

Node.js documents support for symlinks on Windows. Should start by verifying that. Might be an issue with the relative path.

[2014-01-28 17:34] scottgonzalez opened #9 "Allow sentences that start with "Fixes""
Invalid commit message, please fix the following issues:
- Invalid ticket reference, must be /(Fixes|Closes) (.*#|gh-)[0-9]+/, was: Fixes issue where contenteditable text was getting overwritten when

Commit message was:

Autocomplete: Do not set value on multi-line input

Fixes issue where contenteditable text was getting overwritten when
wrapping past the bottom or top of the autocomplete menu.

[2014-01-29 17:13] #9 closed, assigned to nobody

[2014-01-29 17:25] #7 closed, assigned to nobody

[2014-02-05 17:47] fnagel opened #11 "Show error in git GUI applications"
Find a way to pass error message to git GUI applications like TortoiseGit or SourceTree.

Currently the commit fails in TortoiseGit but no specific error message is shown:

[code]

Would be nice to have a possibility to do so.

[2014-02-07 20:27] mgol opened #12 "Install scripts are discouraged"
See https://npmjs.org/doc/misc/npm-scripts.html#NOTE-INSTALL-SCRIPTS-ARE-AN-ANTIPATTERN. It seems creating the `*.gyp` file is preferred.

TBH I don't understand why gyp files are preferred so I'm leaving this issue as a place to discuss this.

[2014-02-12 00:36] #12 closed, assigned to nobody

[2014-02-20 15:20] tjvantoll opened #13 "Rejects merge commit messages"
The default merge message - e.g. `"Merge branch 'one' into two"` - is rejected by commitplease with the following message:

`"- First line (subject) must indicate the component"`

It seems like commitplease should probably be ok with these messages.

[2014-02-20 15:35] #13 closed, assigned to nobody

[2014-02-24 22:54] rxaviers opened #14 "Warn instead of aborting"
Hi Jörn,

On invalid commit messages, the commit is aborted by the hook. For me, it would be of more value if it didn't abort it. But, instead give me a warn message saying:

"Hey! The commit is invalid for <this> reason. Please, `git commit --amend` and fix it!"

Amending is faster for me... But, I don't know if this is doable.

Thanks!

PS: this is more of a question than a bug.

[2014-03-03 19:13] #14 closed, assigned to nobody

[2014-04-08 11:25] markelog opened #15 "Verbose flag"
If user uses <code>--verbose</code> with <code>git commit</code> command, <code>commitplease</code> will try to validate added/removed lines

[2014-04-24 19:50] markelog opened #17 "Warn on line breaks between subject and body"
See <a href="https://github.com/jquery/jquery/commit/dda29d729b261a92e464cadea7bc7aaf9dae9012">this</a> commit as reference

[2014-05-15 13:16] #17 closed, assigned to nobody

[2014-05-15 14:09] #1 closed, assigned to nobody

[2014-05-19 09:34] #11 closed, assigned to nobody

[2014-05-20 10:11] #8 closed, assigned to nobody

[2014-06-05 10:38] #15 closed, assigned to nobody

[2014-10-05 22:48] mislav opened #22 "Using `commit -v` when validation fails causes the entire diff to be dumped as part of error message"
The project which I'm trying to contribute to has commitplease enabled with default settings. I've tried `git commit -v` but apparently failed to provide a component name. The resulting error message from commitplease dumped the entire previous contents of `.git/COMMIT_EDITMSG`, which includes git's own comments and diff and floods my terminal output. Example:

[code]

What I expected: only my sub

[2014-10-06 16:10] gibson042 opened #23 "Component should be validated against an array of acceptable values"
Rather than just have commitplease require the existence of something that looks like a component, projects should define valid components for it and require a match.

e.g.:

[code]

[2014-10-07 13:56] jzaefferer opened #25 "Commit template"
From https://github.com/jquery/qunit/pull/679#issuecomment-58171769, where @mislav wrote:

---

Just like hooks need to be configured locally per-repo as well. If you could set up git hooks, then you could also set up the template.

Here's an alternative to a template: a git hook that prepares the commit message before it opens in your text editor by listing the existing components:

[code]

The e

[2014-10-07 14:44] mislav opened #26 "Allow git commit `--fixup` and `--squash` features"
git commit flags `--fixup` and `--squash` are great in rebase-centric workflows, especially in combination with `git config rebase.autosquash` enabled. Unfortunately, commitplease component validation will abort these commits.

The solution would be to skip validation on commits that start with "fixup!" or "squash!". These are temporary commits that will get merged into others on the next rebase,

[2014-10-08 15:21] jzaefferer opened #27 "Read core.commentchar config instead of assuming default #"
In git, the commentchar can be configured. `git config core.commentchar` returns the custom character or nothing, where nothing means the default `#` character is used.

This requires sync exec, which I currently don't want to deal with (sync-exec module is a rather big dependency). Node 0.12 should ship with execSync, making this a lot easier.

Its also not something anyone has actually reported

[2014-10-08 15:22] #22 closed, assigned to nobody

[2014-10-08 15:22] #23 closed, assigned to nobody

[2014-10-10 12:48] jzaefferer opened #28 "Whitelist component for fixup commits"
#26 suggests allowing "fixup!" as a prefix to whitelist, but that's very specifc to the `--fixup` flag and will reuse the existing commit message. In our current PR workflows, we use something like "[fix]: description of the fixup".

Could also whitelist `/\[[^\]]+\]:/` (anything in square brackets), along with "fixup!" and "squash!".

[2014-10-22 15:37] #26 closed, assigned to nobody

[2014-10-22 15:37] #28 closed, assigned to nobody

[2014-12-17 01:27] dmethvin opened #31 "Validate user name/email"
Sometimes someone lands a PR with a bad name or email. It would be great to have an option to require authors in the format "Name1 Name2 email@whatever.com" with some level of validation. There are (rare) cases where a single name is allowed but perhaps that could be elided using two spaces or something. I don't think we ever want to have a bad email.

[2014-12-23 18:28] #31 closed, assigned to nobody

[2015-01-13 04:39] markelog opened #32 "Check register after the colon"
http://contribute.jquery.org/commits-and-pull-requests/#commit-guidelines has an example -

I wonder if we should check for register of the first word, in this case, "Short"?

Should it be in upper-case though? Linguistically speaking, it should be a lower-case letter.

[2015-01-13 13:48] jzaefferer commented on #32
Do you mean "case" (or is it casing?). "register" doesn't make sense to me in this context. Assuming this is about upper/lower-casing: I think both variants are valid. If the guidelines were to require something, I'd be more inclined to implement something here. Personally I think that's not worth it.

[2015-01-13 13:55] markelog commented on #32
Okay, as i suspect, that's my case of nit-picking then

[2015-01-13 13:55] #32 closed

[2015-01-13 14:13] jzaefferer commented on #32
Alright. Btw. thank you for introducing the `-v` (aka `--verbose`) option to me, I'm now using that all the time.

[2015-01-20 21:25] dmethvin opened #33 "Prohibit use of `#NNNN` ticket references"
Since several projects use `#` to indicate non-Github bug trackers, it would be handy to have the commit checker look for those references and abort the commit if they're found. This should be a non-default option since most Github projects do use `#` to refer to tickets and PRs.

Ref https://github.com/jquery/contribute.jquery.org/issues/102

[2015-01-22 21:52] dmethvin opened #34 "Validate use of `Ref` ticket references"
The [jQuery ticket reference guidelines](http://contribute.jquery.org/commits-and-pull-requests/#references) allow the use of `Ref` to reference a ticket without closing it. These should be validated as well, since it will impact the efficacy of #33.

I used #33 there instead of gh-33 on purpose. :smiling_imp:

[2015-01-22 21:58] jzaefferer commented on #34
Sounds reasonable. I'm currently heavily focused on finishing jQuery UI 1.12. Maybe someone from the Core team can help this and #33? [Add a test](https://github.com/jzaefferer/commitplease/blob/master/test.js), implement it in [lib/validate.js](https://github.com/jzaefferer/commitplease/blob/master/lib/validate.js). I can find a few minutes for reviewing PRs, tagging and publishing, but the imple

[2015-01-22 21:59] dmethvin commented on #34
I created this ticket because I was looking at it, just didn't want to assign it to myself in case I got sidetracked.

[2015-01-22 22:00] jzaefferer commented on #34
:+1:

[2015-01-22 22:01] dmethvin commented on #33
Seems like we'll need a new option @jzaefferer, what's your preference on that logic? I was thinking about `disallowHash` as the name so falsy would be the default.

[2015-01-22 22:10] jzaefferer commented on #33
Maybe make it a bit more generic? Like `ticketPrefixes` (or something along those lines), with a default of "#|gh-", so that its still valid JSON and will always be compiled as a RegEx with "^" and "$" around it. Then you can override it with any kind of prefixes that you like.

[2015-01-22 22:11] dmethvin commented on #33
Oh i like that better.

[2015-03-10 22:06] jzaefferer opened #36 "Allow usage without git hook"
@rxaviers wants to use this module without the git hook. Separating the validation from the hook, into a separate projects/module is one way. I wonder if a flag in the parent projects `package.json` could be used instead.

[2015-03-11 21:58] rxaviers commented on #36
It would work for me.

[2015-03-13 13:38] #36 closed

[2015-04-09 01:01] stevemao opened #38 "Feature request: Auto modify the message based on rules"
Eg: Auto capitalise the first letter of the Component and Short Description
Remove the dot at the end of the Component and Short Description
Fix some common typos?
Remove empty lines?

What do you think?

[2015-04-09 01:47] stevemao opened #39 "Feature request: Customised rule"
jQuery uses

[code]

User should be able to configure it so that something like

[code]

can be also validated.

IMO this is not too different from the current implementation so it should be easy. I can put together a PR.

If you agree this is a good idea repos like
https://github.com/jshint/jshint/commits/master
https://github.com/angular/angular.js/commits/master
can use this module.

[2015-04-09 15:54] jzaefferer commented on #39
Changes to the validator should be pretty straight-forward. Would be good to only add features that are going to be used somewhere. With that in mind, a PR is welcome.

[2015-04-09 15:57] jzaefferer commented on #38
Considering the current implementation, which uses git's commit-msg hook, this is somewhere between hard to impossible to implement. I'd have no idea where to start. That said, if you can come up with something, I'd review it.

[2015-04-16 20:50] arschmitz opened #40 "Cant use the word fixed even as part of a component name"
jQuery Mobile has a fixedToolbar component but the message FixedToolbar: ..... fails because fixed is not followed by a ticket ref.

[2015-04-17 08:55] jzaefferer commented on #40
This applies to all lines: https://github.com/jzaefferer/commitplease/blob/master/lib/validate.js#L62

Could change that to only looks at lines beyond the first. Since the first has plenty other checks, that should work just fine. Would that work for you?

[2015-04-17 14:08] arschmitz commented on #40
That would work for this case. Another more general option would would be to check that the key word is followed by a space. If it is not it must be part of a compound word or name and therefor should not be caught by validation.

[2015-04-19 13:41] jzaefferer commented on #40
@gabrielschulhof would you put together a PR for that? Patching validate.js is pretty simple, just extend the unit tests and and some rule of `lib/validate.js`.

[2015-04-20 01:48] arschmitz commented on #40
@jzaefferer i'm assuming you mean me in which case i would be happy to :-)

[2015-04-20 13:52] #40 closed

[2015-10-20 21:01] jzaefferer opened #43 "Support for Angular commit message style guides"
I'd like to see more adoption of this project. For that it should have presents and options to support more commit message style guides. The one I'm aware of is the [angular style guide for commit message](https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#commit). There are probably more.

I hope more people are interested in extending this project to support the style of commit me

[2015-11-02 16:07] gibson042 opened #44 "Allow user-defined patterns"
For example, to require subject lines consisting of semver level, one or more repository-specific components (separated by commas or comma-space pairs and ending with a colon), and a non-empty sentence-case message, all of which must be separated by spaces:

[code]

Another possibility is dropping the RegExp/variable expansion options in favor of pure [RFC 5234](https://tools.ietf.org/html/rfc5234

[2015-11-02 17:38] mzgol commented on #44
Note that for the jQuery use case we might not want to prevent contributors from commiting if they don't include the semver level, this may be a barrier to contribute. Unless we have a commit template they just modify.

[2015-11-02 17:43] gibson042 commented on #44
I agree, but consider that a separate issue. Ideally, we'll get to a point where things like commit message formatting is purely an issue for maintainers.

[2015-11-02 17:45] mzgol commented on #44
Sounds good, just wanted to have people keep that in mind.

[2015-11-03 10:24] jzaefferer commented on #43
@mzgol can I interest you in championing support for the angular style guide? Did you get a chance to talk about this with anyone in the angular community?

[2015-11-03 10:25] jzaefferer commented on #44
For the record, I'm interested in improving the validation, but will wait for the parent discussion on contribute to get resolved.

[2015-12-03 14:42] arschmitz commented on #34
I actually disagree with this you don't always want to just ref a ticket what if you want to reference a blog post or some other reason for the change i think ref still makes sense in this case.

You can also use this to reference issues from other currently unsupported issue trackers like Jira

[2015-12-03 14:45] arschmitz opened #45 "Add support for Jira issues"
Jira uses an issue format of `[A-Z]{3}-[0-9]+`

[2015-12-03 17:27] #45 closed

[2015-12-04 01:31] ipaintcode opened #47 "Issue running npm install when using node via homebrew"
Terminal output ( {pathToProject } is in place of actual path ) when running npm install (`node v5.1.0`)

[code]

[code]

Due to {pathToProject}/.git/hooks/commit-msg -> #!/bin/evn node

Seems to be since homebrew doesn't use `/usr/bin` for node or even a symlink you have to replace:

with

The issue is installing on a fresh machine or having to reclone said project using this npm. Is there any ch

[2015-12-04 04:56] dmethvin commented on #34
I'd be fine with all these using the `ticketPrefixes` @jzaefferer proposed in #33 and one of the prefixes could be `http` to allow arbitrary links. Would that work for you @arschmitz?

[2015-12-04 12:58] arschmitz commented on #34
@dmethvin that would work for my use case since my PR to support jira landed however ref could still be useful for other as of yet unsupported issue tracker. I don't really care any more though since Jira is now supported.

[2015-12-04 13:04] jzaefferer commented on #47
I have no idea why I was using "#!/bin/evn node" in the first place, replacing that seems fine. Just to be sure: Did the issue only occur when running the commit hook, or already during installation of the npm package? Your description seems to indicate the latter, but I don't understand why that line would cause an issue during installation.

[2015-12-04 13:06] rxaviers commented on #47
Using `#!/usr/local/bin/node` is not cross-OS compatible, because you don't know where `node` is installed in someone's OS.

[2015-12-04 13:07] jzaefferer commented on #47
To verify the suggested (or other) solutions work, you can check out the repo, patch the one line, then use `npm install path/to/checkout` to do an install from the checkout (don't use npm-link, that doesn't work here).

[2015-12-04 13:08] arschmitz commented on #47
we should dynamically generate this path with `process.execPath`

[2015-12-04 13:14] jzaefferer commented on #47
http://stackoverflow.com/questions/20638520/appropriate-hashbang-for-node-js-scripts says that `#!/usr/bin/env node` is the right hashbang for node, which is currently in use.

I'm still not sure what the actual issue is, since this file isn't executed while installing.

[2015-12-04 13:15] jzaefferer commented on #47
The install script in package.json just referencs `node`: https://github.com/jzaefferer/commitplease/blob/master/package.json#L7 - if that isn't in your path, it won't work, but there's nothing about a hashbang going on there.

[2015-12-04 14:52] scottgonzalez commented on #47
@jzaefferer is correct. `#!/user/bin/env node` is the correct shebang line to have in the commit hook, and the shebang line doesn't even come into play on install. So based on the details in this bug report, there is nothing to change inside commitplease.

[2015-12-04 14:59] arschmitz commented on #47
I talked to @ipaintcode about this last night the problem is on commit not on install. but still not sure whats going on since `#!/user/bin/env node` should work anywhere

[2015-12-04 15:03] arschmitz commented on #47
even more interesting the `grunt-cli` uses this exact same shebang and works for them fine. There has to be something else going on here.

[2015-12-04 15:39] arschmitz commented on #47
This is an issue with sourcetree and commit hooks https://answers.atlassian.com/questions/140339/sourcetree-hook-failing-because-paths-don-t-seem-to-be-set-correctly

[2015-12-04 16:02] ipaintcode commented on #47
Looks like @arschmitz found the culprit, a big thanks to everyone (thanks again @arschmitz) for checking into this. I did do a fresh install on notebook and seems to have fixed the issue. It was a very weird one off that seemed to be breaking unless I changed the #! to the ladder I posted.

[2015-12-05 02:58] arschmitz commented on #47
I did a little more looking into this and it turns out this is kind of a real issue. It actually prevents the usage of commit please using any OSX App like the github client, source-tree, sublime git plugin, atom git plugin etc. Basically OSX apps don't have access to the `PATH`

Im really really surprised this has not come up previously on one of the jQuery projects

[2015-12-10 09:44] jzaefferer commented on #47
@arschmitz could you private some steps to reproduce with one of those apps?

[2016-01-25 02:56] kilianc opened #48 "decouple validation API from git-hook runner"
Since I usually use `husky` or `shared-git-hooks` already, it would be cool if `commitplease` was a binary or simple a lib that I can call from my own script.

[2016-01-25 12:09] jzaefferer commented on #48
There's currently a clutch for this, setting `nohook: true` in package.json: https://github.com/jzaefferer/commitplease#customizing-the-bundled-options

Besides that, the only other solution I can think of would be to extract the validation into a separate module, then use that module here, or anywhere else where there's also a commit-msg hook in place. I'd prefer keeping both in one module though

[2016-01-25 19:50] kilianc commented on #48
I was just playing with it, I copy pasted the snippet in the readme into an executable node script...

In general a lot of git related modules on npm embed their own hook runner - installer, instead of just releasing a bin, which is a bummer.

`nohook: true` seems like what I need!

[2016-01-26 12:27] #48 closed

[2016-02-11 08:47] mgol commented on #47
@jzaefferer Steps are as follows:

1. Make sure you're on the latest El Capitan (10.11.3)
1. Uninstall Node.js
1. Install [nvm](https://github.com/creationix/nvm)
1. Install any Node version using nvm, e.g. `nvm install 5`
1. Try to use commitplease from the terminal (e.g. by commiting in the jQuery repo), it works
1. Install [SourceTree](https://www.sourcetreeapp.com/), add the jQuery repo to boo

[2016-02-11 08:48] mgol commented on #47
Hardcoding the `PATH` would have its own problems, though (https://github.com/jquery/jquery/issues/2915). Currently the jQuery repo uses both husky & commitplease so gets the worst of both as both problems exist. :-)

[2016-02-11 10:40] jzaefferer commented on #47
Thanks for the steps. I wonder if you could create a symbolic link in `/usr/bin`, pointing at nvm's default node version (set with `nvm alias default ...`). That way SourceTree should be able to find the `node` binary, and it updates as you change your default alias.

[2016-02-11 10:46] mgol commented on #47
I can't. El Capitan's System Integrity Protection prevents you from writing to most system directories, including those 4 ones that are in the `PATH` for GUI apps. Even root can't do that.

[2016-02-11 13:16] arschmitz commented on #47
We originally ran into this at my company the work around we settled on is documenting that if you use a GUI for committing to open the commit hook and set the path manually. Since this is within the `.git` folder it will remain untouched even when reinstalling etc. we thought about submitting a PR for other solutions but felt they all had other significant draw backs as discussed in jquery/jquery

[2016-02-17 14:41] jzaefferer opened #49 "Support node installed via nvm"
See https://github.com/jquery/jquery/issues/2915#issuecomment-185140624

[2016-03-02 13:10] sherlcode13 commented on #43
@jzaefferer  I want to work on this issue .

[2016-03-02 13:17] jzaefferer commented on #43
You're welcome! I suggest you check out the existing validation along with the Angular style guide, then come back here and we can discuss the next steps.

[2016-03-23 12:51] all3fox commented on #43
@jzaefferer @sherlcode13 here are my thoughts about commit style guides for [Angular](https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#commit) and [jQuery](https://contribute.jquery.org/commits-and-pull-requests/#commit-guidelines):

The similarities:
-----------

1. Both separate the commit message into three parts: header, body and footer (Angular) and Subject, Long Description

[2016-03-23 19:48] jzaefferer commented on #43
@all3fox that looks great! Before you do anything else, please apply on the official GSoC website, where you can attach your Google Doc as well.

After that: I suggest you integrate your analysis (the one posted above) into your proposal, as part of the "detailed description" section, before the timeline.

As for your analysis: I don't know why the hook isn't installed for jQuery Core. It might be

[2016-03-23 20:44] all3fox commented on #43
@jzaefferer thanks! I have included my previous comment into the proposal.

Actually, this google doc is the result of my activity on the GSoC website. I crossposted the link to it in my previous message for convenience. The website tells me that my draft proposal should be already visible to the organisation. I understand that my application is not yet complete because I have not "submitted my fi

[2016-03-23 22:11] jzaefferer commented on #43
Sorry, nevermind that, I just missed your entry in the list. That's all good. The rest is still valid though :-)

[2016-03-24 09:41] jzaefferer commented on #43
@all3fox The deadline is pretty close. Please submit your PDF proposal ("complete" your application) as soon as possible.

[2016-03-24 12:54] dmethvin commented on #43
If it helps you, I was messing with fixes for #33 and #34 trying to take the regexps out of the code and make them part of the config. It seemed to take at least 3 regexps and documenting exactly what they did was tricky. Here's that work, unfinished: https://github.com/dmethvin/commitplease/commit/8c5dc99d74fcdb823d23a7ffd1dda7bf3eba515b

[2016-04-19 10:11] jzaefferer opened #54 "Switch linters to 'standard'"
Since jscs is merging into ESLint, let's switch to ESLint, and while at it, switch to [standard](https://www.npmjs.com/package/standard) to stop maintaining linter configs.

[2016-04-19 10:14] jzaefferer opened #55 "Use ES2015"
Use babel or [bublé](http://buble.surge.sh/) (along with rollup?) to allow using ES2015 for development, but publish ES5 code to npm.

[2016-04-19 10:15] jzaefferer opened #56 "Add test watcher script"
Use nodemon or similar tools to add a `npm run test-watch` script that reruns tests as source or test files are updated.

[2016-04-21 14:46] #54 closed

[2016-04-23 16:39] all3fox commented on #55
We have decided to go with bublé together with rollup. Here is my current understanding of this:

1. rollup needs ES6 style `import / export` machinery, I will be switching to that.
2. rollup needs an "entry point", i.e. a file it will take and unroll all its dependencies. There are a couple of problems here:
  1. It is my understanding that the entry point for commitplease is `commit-msg-hook.js`

[2016-04-24 10:12] jzaefferer commented on #55
Thanks for the analysis so far. Currently I'm thinking this might not be such a good idea after all, since at least the switch to ES6 module syntax is probably introducing more complexity than its worth.

I suggest we put this on hold for now, and instead check what minimal node version we should support (look for some usage numbers). Then check what ES6 features we can use natively (without requi

[2016-04-24 13:29] Arkni commented on #55
http://node.green/

[2016-04-24 15:54] jzaefferer commented on #55
Nice, thanks @Arkni. Looks like we'd need at least 4.4.x to be able to use, for example, template literals. Currently we're still [testing against 0.12, 4 and stable](https://github.com/jzaefferer/commitplease/blob/master/.travis.yml#L4-L6).

Would still be good to have some usage numbers.

[2016-04-24 17:56] Arkni commented on #55
This [PDF from`nodesource`](https://nodesource.com/assets/blog/node-by-numbers/node-by-numbers.pdf) includes statistics of `NodeJS` usage (download, ...) in 2015. Maybe it can be of help to you.

**Links**:
* Blog post: https://nodesource.com/blog/node-by-numbers-2015/
* PDF: https://nodesource.com/assets/blog/node-by-numbers/node-by-numbers.pdf

[2016-04-26 09:32] jzaefferer commented on #56
@all3fox this should be fairly simple, let's address this as well before going back to actual features.

[2016-04-26 09:33] jzaefferer commented on #55
I'm closing this for now. Maybe revisit later this year, when adoption of newer node versions improved significantly.

[2016-04-26 09:33] #55 closed

[2016-04-27 14:21] jzaefferer commented on #49
@all3fox this would also be a good one. You could start by digging into the issue link, then we can discuss what we can do here.

[2016-04-27 22:10] all3fox commented on #49
I read [the husky issue](https://github.com/jquery/jquery/issues/2915#issuecomment-185140624) in jQuery and [the linked issue](https://github.com/jzaefferer/commitplease/issues/47) in commitplease, here are my thoughts:

I tried to reproduce it on my machine: a simple project with `commitplease` and a `5.10.1` version of `node` installed via `nvm`. My commits to this project were being checked as

[2016-04-28 07:57] jzaefferer commented on #49
Okay, I'll see if I can reproduce this on my machine (I'm running OSX 10.11.4).

Meanwhile, I suggest you look at #33 and #34, try to implement both, then we can take those into consideration when designing the new validation options API to support the Angular style guide.

[2016-05-01 20:16] #56 closed

[2016-05-17 16:23] jzaefferer commented on #38
Closing this due to lack of interest and difficulty of implementing it.

[2016-05-17 16:23] #38 closed

[2016-06-22 01:03] all3fox commented on #44
Initially, I was thinking that specifying a commit-message style with a context-free grammar is a great idea. However, after playing a tiny bit with an implementation of an ABNF parser ([its homepage][1], I looked at `JavaScript APG: Version 2.0` and `JavaScript APG: Examples`), here are some challenges that come up:

1. I do not know how to efficiently communicate what is wrong with the message t

[2016-06-22 10:15] jzaefferer commented on #44
Thanks for investigating this. Since helpful error messages are central to commitplease, I don't think this is a direction we should explore further.

@gibson042 if validating/warning for semver lines is still interesting to you, please create a separate issue for that.

[2016-06-22 10:15] #44 closed

[2016-07-04 13:15] jzaefferer commented on #34
I've reviewed this with @all3fox. We can't think of any usecase where commitplease could correctly point out an issue with a `Ref` line. If someone wants to include `Ref undisclosed security bug CVE123`, we should let them. Since this line isn't used to close tickets or generate changelogs, it seems like there's nothing to win here.

We can reopen with good usecases.

[2016-07-04 13:15] #34 closed

[2016-07-04 13:17] arschmitz commented on #34
👍

[2016-07-04 13:21] all3fox commented on #33
It is possile to prohibit `#NNNN` style ticket references by setting the `ticketPattern` and `markerPattern` regular expressions, shown in [this PR](https://github.com/jquery/jquery/pull/3176) and by [this profile in test.js](https://github.com/jzaefferer/commitplease/blob/058dd65c8bc5b0a5946d7a15c7f54b99eb730554/test.js#L9)

[2016-07-04 13:21] #33 closed

[2016-07-04 13:22] jzaefferer commented on #39
Angular uses a different format, which we're implementing in https://github.com/jzaefferer/commitplease/pull/53

JShint seems to have switched to ad `[[<type>]] <subject>` format, where `<type>` is similar to the one used by Angular. I wonder if we the new options would allow this configuration.

[2016-07-04 13:23] jzaefferer commented on #39
Looking at the original suggestion, there's not much to do here. I'm going to open a separate issue to do some scanning of popular open source projects, to identify other popular styles.

[2016-07-04 13:23] #39 closed

[2016-07-04 13:25] jzaefferer opened #62 "Review popular (web/JS) open source projects for common styles"
Project needs to use npm for installing dependencies, doesn't really matter what it does otherwise.

JSHint has something vaguely similar to Angular: https://github.com/jshint/jshint/commits/master

ESLint seems pretty similar to jQuery: https://github.com/eslint/eslint/commits/master

etc. pp.

[2016-07-04 13:28] jzaefferer opened #63 "Investigate other platforms"
Could we get commitplease into Python, Ruby, Go etc. projects? Could either do native implementations (porting the whole thing to Python) or just figuring out a way to run the existing code, but install it as a Python package (pip?). Nodejs is a reasonable system dependency, but not every project uses npm.

[2016-07-04 13:35] jzaefferer commented on #27
@all3fox since we expect at least 0.12, let's implement this. If it gets complicated for some weird reason, we'll close instead.

[2016-07-04 13:58] jzaefferer commented on #33
PS: Those options are recent additions, so it is **now** possible.

[2016-07-11 15:37] #27 closed

[2016-07-12 14:04] jzaefferer commented on #25
This would be a good opportunity to point out the special "[skip ci]" line, which works at least on Travis and CircleCI (as far as I know).

[2016-07-18 13:11] jzaefferer opened #67 "Add common objections and suggested solutions to readme"
There were some concerns on the Angular PRs that we should address in our readme.

[2016-07-18 13:22] jzaefferer commented on #43
Fixed by https://github.com/jzaefferer/commitplease/commit/344353cab7b051a2b1188703cf12944f73fd8b9a released as [2.5.0](https://github.com/jzaefferer/commitplease/releases/tag/v2.5.0)

[2016-07-18 13:22] #43 closed

[2016-07-18 14:11] all3fox commented on #62
I have ordered the following list by how useful, imo, commitplease might be for the project. First four look rapidly developing with quite a few people working together, so I think we need to start with those.

 1. [Ember](https://github.com/emberjs/ember.js)
    1. [CONTRIBUTING.md](https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#pull-requests) has special prefixes for commit mess

[2016-07-18 15:34] jzaefferer commented on #62
Sounds good, let's start with those four. Could you summarize here what you would suggest to each? Like style or other options.

[2016-07-18 15:34] jzaefferer commented on #62
Btw. what about jshint and eslint (I mentioned them above)?

[2016-07-18 16:32] all3fox commented on #62
I have added both jshint and eslint to the list above. Both these projects actually describe a style for commit messages. In the case of eslint there is even [automatic checking][1] for that style (that has extra corner cases compared to style guide).

So, I do not know what the best approach would be here:
 1. We could try to convince them to switch to one of the styles that we already support. P

[2016-07-18 16:47] jzaefferer commented on #62
The eslint script runs as part of a build (I guess), which commitplease doesn't do by default. They could use the commitplease validation module though, instead of implementing their own logic. So I think for eslint we should start with a discussion. See if they're interested in adopting commitplease (it provides more immediate feedback while committing!). If yes, if they want to keep their curren

[2016-07-18 19:17] all3fox commented on #62
`grep -r Makefile.js` from the repo root shows that `Makefile.js` is just a collection of functions that are called manually by running various `npm run some-script`. In particular, I am pretty sure that `checkGitCommit` is run manually and not actually different from a standalone `validate-commit-msg.js` script that we saw in Angular. [Here is my take](https://gist.github.com/all3fox/049f2a6a064d

[2016-07-19 09:16] jzaefferer commented on #62
That looks great!

Only nitpick: commitplease is used by jQuery Core, jQuery UI, jQuery Mobile, Globalize and QUnit. Probably others, but npm doesn't allow search for dev-depended-on packages. Linking to the jQuery Core PR makes it look like they aren't actually using it, yet.

[2016-07-19 10:51] all3fox commented on #62
Thanks! I have addressed the nitpick and [created the issue](eslint/eslint/issues/6706).

[2016-07-20 14:13] jzaefferer opened #68 "Remove quotes in angular-style error message"
There's too many useless double quotes here:
[code]
Should look more like this:
[code]
(also fix the typo in parethesis -> parenthesis)

[2016-07-20 15:07] all3fox commented on #67
Currently, I have seen just two objectioins:

####  Prohibit `git push` instead of `git commit` if the message has invalid style.

Comes from here: https://github.com/angular/angular/pull/9953

That is hard to implement because we do not know how far back in time `commitplease` has to look to check the commits. And it becomes a bummer if the project decides to adopt commitplease but keep older com

[2016-07-20 15:44] jzaefferer opened #70 "On-demand validation"
I know that @rxaviers doesn't much like the commit-msg hook, instead prefers validation as part of `npm test` (locally or via CI). For Globalize, he's set up a combination of `nohook: true` and a grunt plugin that validates a certain range of commits: https://github.com/jquery/globalize/blob/master/package.json#L76

The issues with that approach: You need the extra code to run the validation on-de

[2016-07-20 15:44] #68 closed

[2016-07-21 15:30] jzaefferer opened #71 "Test with gitx"
Got an informal error report where committing with gitx always failed, and the output from commitplease doesn't show up

Project seems to be for osx-only: http://gitx.frim.nl/

@all3fox can you test this?

[2016-07-21 16:06] all3fox commented on #71
Since there has already been some other OS X specific problem, I will see what I can do to create a VirtualBox + OS X environment. However, I haven't had any previous experience with that. Do you think OS X 10.6 Snow Leopard will be ok for this test?

Next, gitx seems to be a rather [old project](https://github.com/pieter/gitx) that has at least two viable successors (linked from [its readme](http

[2016-07-21 17:23] all3fox commented on #70
I have taken a closer look at [grunt-commitplease](https://github.com/rxaviers/grunt-commitplease/)

Currently, our `commit-msg` hook uses the fact that it is either in `node_module/commitplease` or `.git/hooks` directory, so it can just go two levels up and get the `.git/COMMIT_EDITMSG` file. So, it can be run standalone with `node node_modules/commitplease`, like we do for jQuery Core. That will

[2016-07-22 10:34] jzaefferer commented on #71
The feedback I got was for `GitX-dev (rowanj fork)`

[2016-07-24 17:38] all3fox commented on #71
@jzaefferer sorry, it appears I cannot test it because I do not have access to any OS X variant. I have tried to install two different OS X versions (10.6.5 and 10.6.8) onto two different PCs via Virtual Box and that did not work out :(

[2016-07-25 10:31] jzaefferer commented on #67
With #70 under review, I think this can be closed.

[2016-07-25 10:31] #67 closed

[2016-07-26 16:06] all3fox commented on #62
Created a PR to emberjs/ember.js#13893

[2016-07-26 16:22] all3fox commented on #62
Created an issue to airbnb/javascript#965

[2016-07-26 16:54] jzaefferer opened #72 "Check compatibility with overcommit"
See https://github.com/brigade/overcommit

Sounds similar to husky.

[2016-07-26 17:10] lencioni commented on #72
Relevant overcommit issue: https://github.com/brigade/overcommit/issues/405

[2016-07-26 17:43] all3fox commented on #72
First impressions on a project with hooks set up (jQuery Core, actually):

[code]

at this point overcommit backs up all existing hooks. The two hooks from husky that jQuery uses (precommit and commitmsg) are moved to `.git/hooks/old-hooks` and replaced as symbolic links to a ruby script `.git/hooks/overcommit-hook`. So, overcommit takes full control over all the preexisting hooks.

A very interes

[2016-07-27 11:09] all3fox commented on #72
I have tried several combinations of setting the `.overcommit.yml`, unsuccessfully yet. Primarily used brigade/overcommit#338 for info, here is what I have tried so far:

[code]
Since jQuery Core also has a dedicated script in its `package.json`, I have tried it (no luck):
[code]

Then I came across a very nice [file in overcommit](https://github.com/brigade/overcommit/blob/78ad621267b08e6f04b0cd9

[2016-07-27 13:26] lencioni commented on #72
We typically set up the overcommit hooks to be able to run globally by default. People in their own projects can override the required_executable to be the local version if they happen to be using npm and have it in their devDependencies. For example, a project's .overcomm.yml file might include the following configuration for eslint:

[code]

Borrowing from the ESLint default config, I think this

[2016-07-28 08:02] all3fox commented on #72
@lencioni thank you! My issue appears to have been [security-related][1] and here is what worked for me:

Create a project and install the two packages:

[code]

At this point, I have to begin the security dance [remember these two lines for later]:

[code]

Now I configure `.overcommit.yml` to contain the suggested lines:

[code]

And continue the security dance:

[code]

And at this point it sta

[2016-07-30 15:14] lencioni commented on #72
It's really unusual to be checking in things from node_modules to source control. Generally for hooks that depend on npm packages, we default to using a globally installed version and allow for people to specify a locally installed version in their own overcommit configuration--which works well for teams who want to lock down a specific version of the tool. Ideally, the locally installed version s

[2016-07-30 15:19] jawshooah commented on #72
It's not supposed to. `install_command` is there so contributors to your repository know how to install the tools required by the hooks; there is no automatic installation.

Regarding security, we added a check to ensure that custom hooks are tracked by git in https://github.com/brigade/overcommit/commit/74435290f7876af11cda0ec76ad1ca79f570f25d. This provides stronger protection against accidental

[2016-07-30 15:24] lencioni commented on #72
`command: ['npm', 'run', 'commitplease']` will only be correct if you have a matching `commitplease` entry in your package.json "scripts" section that runs commitplease.

[2016-07-30 15:54] jawshooah commented on #72
My mistake, I thought `npm run` implicitly added `node_modules/.bin` to the
path.

On Sat, Jul 30, 2016, 8:24 AM Joe Lencioni <notifications@github.com> wrote:

[2016-07-30 16:18] lencioni commented on #72
It does, but only for commands inside of scripts. For example, if you had the eslint package installed, `npm run eslint` will give you an error because you don't have an eslint entry in your scripts config. However, if you have a script in your scripts config that simply executes `eslint`, it will work because within the context of the scripts, `npm bin` is added to the `PATH`.

[2016-08-01 12:59] jzaefferer commented on #72
Once that lands, is there anything left to do here?

[2016-08-01 13:05] all3fox commented on #72
@jzaefferer I think that PR is missing a ruby script based on this:

Basically, @lencioni and @jawshooah have described the process of creating that Ruby script really well. Unfortunately, I do not know Ruby, so the simple action of "try out a locally modified ruby gem" is rather slow and painful (that is what I am doing right now --- figuring out how to locally modify overcommit and run it).

So,

[2016-08-01 13:40] all3fox opened #74 "Why does `npm install -g commitplease` fail? Do we want/need global install?"
Currently, `npm install -g commitpllease` does not work.

On the one hand, `commitplease` is supposed to be a locally installed `devDependency` that gets its configuration from package-local `package.json` and `.npmrc` as well as it expects to be installed into a `.git` directory.

On the other hand, tools like `overcommit` would prefer if an npm package supported global install.

So, figure out t

[2016-08-05 16:12] flore77 opened #75 "Error on rebase"
I have received this error:

![image](https://cloud.githubusercontent.com/assets/11819686/17442712/ecbcb610-5b2e-11e6-9811-3f65c9ccfb9f.png)

The context was:
- squashing something like 16 commits
- squash only the latests 15
- the last one rewarding

Git opens vim to modify the message for the rewarding commit, I modified message, I think it was a correct commit message and then commitplease cras

[2016-08-06 06:43] all3fox commented on #75
Hi @flore77, could you please tell me your version of commitplease? Interactive rebase squashing latest 4 commits (with squashing 3 and rewording the latest one) worked for me on `2.6.1`

[2016-08-06 08:09] flore77 commented on #75
@all3fox  Sorry, not the lastest one is rewarding, the oldest commit is rewarded, like this:

![image](https://cloud.githubusercontent.com/assets/11819686/17455612/458459a2-5bb5-11e6-85d0-c79e297b1c3c.png)

generates the error.

I am using the 2.6.1 version.

[2016-08-06 15:54] all3fox commented on #75
@flore77 here is my take, it went without problem:

![screenshot from 2016-08-06 18-48-56](https://cloud.githubusercontent.com/assets/962850/17457661/39517796-5c0f-11e6-9163-4f8b1d3449ed.png)

My current guess is: you updated to a newer version of commitplease but left an commit-msg hook from an older version. Could you please try to reinstall and manually delete the hook like so:

[code]

[2016-08-07 18:06] flore77 commented on #75
@all3fox I manually delete the hook and now it's working.

[2016-08-08 06:00] #75 closed

[2016-08-08 12:59] all3fox commented on #62
Created an issue to Modernizr/Modernizr#2050

[2016-08-14 18:01] all3fox commented on #62
Created an issue to chartjs/Chart.js#3147

[2016-08-15 13:05] all3fox commented on #62
Created an issue to jashkenas/backbone#4065

[2016-08-15 13:27] jzaefferer commented on #63
Kinda supporting Ruby now, via Overcommit: https://github.com/brigade/overcommit

Though for some reason commitplease is listed there under `pre-commit`, instead of `commit-msg`.

[2016-08-15 13:36] #72 closed

[2016-08-18 10:02] all3fox opened #76 "fs.existsSync followed by fs.mkdirSync fail with EEXIST"
There is [a problem][1] with angular continuous integration. My suspicion is that the repository is created in between the calls to `fs.existsSync` and `fs.mkdirSync`, leading to failure. So, I am fixing our `install.js` script to "ask forgiveness not permission" like so:

[code]

Is that ok? Is there perhaps some other issue I am missing?

[1]: https://circleci.com/gh/angular/angular/3788

[2016-08-18 10:38] jzaefferer commented on #76
Since `existsSync` and `exists` are both deprecated, it makes sense to apply this patch. To test for permission, we could call `fs.access` though: https://nodejs.org/api/fs.html#fs_fs_exists_path_callback

[2016-08-18 10:38] jzaefferer commented on #76
Also:

[2016-08-18 10:41] jzaefferer commented on #76
Somewhat related, why are we checking for existence of `.git`, creating it if it doesn't exist? That seems wrong.

[2016-08-18 11:29] all3fox commented on #76
My initial problem was that we aborted install if we were not inside a `.git` repository, which broke global install. I also suspected that it broke `npm install` if `commitplease` was included as an ordinary `dependency` rather than a `devDependency` of some other module (not sure though). So I decided just to create `.git/hooks` all the time.

[2016-08-18 11:31] jzaefferer commented on #76
How about not installing the hook if `.git` doesn't exist?

[2016-08-18 11:45] all3fox commented on #76
That sounds good but looks like it wont help with the Angular's race condition. There, it looks like:
 1. `fs.existsSync(git)` reports no `.git`
 1. Something creates `.git`
 1. Commitplease fails when creating `.git`

If we do not install the hook if `.git` is missing, then:
 1. `fs.existsSync(git)` reports no `.git`
 1. Skip installing the hook
 1. Something creates `.git`
And we did not install

[2016-08-18 13:01] jzaefferer commented on #76
Its pretty strange that `npm-install` would run while `.git` doesn't yet exist. How does it know what to install when the git repo isn't properly cloned?

[2016-08-18 18:45] all3fox commented on #76
I was thinking about how I could reproduce that. So, I signed up on CircleCI and got my commitplease branch to angular to fail. Now comes the question of how to install a development version of commitplease to CircleCI.

So I fiddled with a toy project just to figure out how npm publishing mechanics works. And then I found a really [good blogpost][1]. You can "prepublish" your module with:

[code]

[2016-08-19 10:34] jzaefferer commented on #76
Yes, prepublishing is fine. How about `beta` for the tag?

[2016-08-23 13:56] #76 closed

[2016-08-23 15:21] all3fox commented on #70
I'd say `2.7.x` solves both the "validating commit range" and "better using .npmrc/package.json to skip hook"

[2016-08-23 15:21] #70 closed

[2016-08-23 15:22] all3fox commented on #74
`2.7.x` introduced global install. As for the issue with overcommit, I will reopen it separately.

[2016-08-23 15:22] #74 closed

[2016-08-30 10:48] Jmclerck opened #79 "Install fails when a submodule uses commitplease"
As the title states I am using a project as a submodule which uses commitplease.

The basic structure is that I have a master project which has several Docker containers. The master project pulls several submodules including one which has commitplease as a dev dependency. When the container which has commitplease in tries to do an `npm install` as build of the build container phase, the installati

[2016-08-30 12:42] all3fox commented on #79
@Jmclerck thank you for the issue! Here is a reduced reproduction case for it:

[code]
Now do three things to `jquery/package.json`:
 1. remove the `husky` devDependency
 1. bump to `"commitplease": "2.7.2"`
 1. change the line `"nohook": true` to `"nohook": false`

and continue:

[code]
Here are the [contents of errlog](https://gist.github.com/all3fox/9de0f694aa1b2d4bc24a97d2cb4eb0d6), it fails a

[2016-08-30 12:51] all3fox commented on #79
@jzaefferer I have not had much experience with `git submodules`. So far, [this doc](https://git-scm.com/docs/git-submodule) gives me the impression that a programmer is not really supposed/expected to change the submodule content  (text-search for "cannot modify") and the whole point is that the history of supermodule and submodule are separate.

Yet another doc goes to great lengths about how to

[2016-08-30 14:12] jzaefferer commented on #79
No installing the commit hook when being installed in a submodule sounds good to me. That particular check seems fine, too.

[2016-08-30 14:36] Jmclerck commented on #79
Hi @jzaefferer + @all3fox thanks for looking into this so quickly. As a user I would be happy with the change of commit hooks not being installed if the project is a submodule. If that is your decision I look forward to those changes being made and if there is anything I can do to assist you please let me know. Thanks again!

[2016-08-30 22:44] all3fox commented on #79
@Jmclerck since you are using the latest `2.7.2`, I assume you actually have access to the submodule that fails, right? If so, could you please hard-code `"commitplease": 2.7.3-0` in the `package.json` of that submodule and tell us if the problem is fixed with that beta release?

I have tested it locally, works for me.

[2016-08-31 09:46] jzaefferer opened #81 "Collaboration with similar tools"
While looking for tools to generate changelogs, I've come across these two tools, that are quite similar to commitplease:
- https://github.com/ajoslin/angular-precommit - angular only
- https://github.com/kentcdodds/validate-commit-msg - some configuration options

Neither automatically installs the commit-msg hook, the latter project recommends https://www.npmjs.com/package/ghooks for that.

If n

[2016-08-31 09:51] jzaefferer opened #82 "Support other presets?"
While looking for tools to generate changelogs, I found these modules for conventional-changelog, implementing and document different formats:

https://github.com/conventional-changelog/conventional-changelog-ember/blob/master/convention.md
https://github.com/conventional-changelog/conventional-changelog-jshint/blob/master/convention.md
https://github.com/conventional-changelog/conventional-change

[2016-08-31 09:57] Jmclerck commented on #79
Hi @all3fox, I have tried the `beta` version as requested, everything appears to work as expected when installing on a local machine, however the issue still exists when my Docker container tries to build and executes `npm install`. The error is still the same as my original post but for reference:
[code]

I noticed my local and Docker versions were out of sync so I upgraded both to the latest nod

[2016-09-01 15:18] jhilden opened #83 "Should work with any of GitHub's closing keywords"
Got the following validation message:
[code]

I believe that it should accept lower AND upper case just like GitHub does and it should also accept the other keywords specified here:  https://help.github.com/articles/closing-issues-via-commit-messages/

In addition it would be great if it also accepted the keywords specified by waffle.io https://github.com/waffleio/waffle.io/wiki/FAQs#moving-an-iss

[2016-09-01 16:20] all3fox commented on #79
The idea behind this patch is that the require chain `install.js` -> `index.js` -> `sanitize.js` triggers the code inside `sanitize.js` which fails on line 13. Moving that code inside the `sanitize` function means that now it will not be run on require.

@Jmclerck could you try your Docker routine again, using `beta` as the version for commitplease? Also, if that is not too much trouble, maybe you

[2016-09-01 16:39] all3fox commented on #83
Hi @jhilden, thank you for the issue! Corect me if I am wrong:

 1. Github uses: close, closes, closed, fix, fixes, fixed, resolve, resolves, resolved
 1. Waffle.io uses: "connects", "connect to", "connects to", "connected to"

I assume @jhilden is using the jQuery profile. The thing is [those commit guidelines](https://contribute.jquery.org/commits-and-pull-requests/#commit-guidelines) technicall

[2016-09-01 16:59] all3fox opened #84 "Fail softer when not a git repo/no commits in git repo"
Currently, running a global commitplease executable from a directory that has no git repository causes:

[code]

and running it when the repository has no commits also causes:

[code]

I think that we should safeguard those cases and make commitplease either print some kind of a warning and `process.exit(0)` or even `process.exit(0)` without any warning.

If we want warnings in this case and also

[2016-09-01 17:40] jzaefferer commented on #84
Running commitplease outside of a .git folder is pretty pointless. Exiting with 0 silently runs the risk that a bad setup is hard to debug. I suggest we log a harmless warning to stdout and exit with 0.

[2016-09-01 17:43] jzaefferer commented on #83
Since I'm working with @jhilden on the same project, I happen to know that he's using the angular preset.

I think we should simply accept all these references. Currently we blacklist some "bad" variations, but allow anything else. For example, "fixse #123" is allowed, because our blacklist doesn't match that.

As long as we can only blacklist, it must still be up to the maintainer to decide if a

[2016-09-02 07:51] Jmclerck commented on #79
Hi @all3fox I just tried the `beta` version again inside my Docker container and everything worked perfectly. Console output from `npm install` contained this message which I believe is the desired effect:

[code]

Thanks again 👍

[2016-09-10 09:55] all3fox commented on #79
Hi @Jmclerck, I am glad to hear that `commitplease@beta` is working for you. Could you try `commitplease@next` though? Just change your package.json to `"commitplease": "next"` and it should install. This `next` is the version likely to become `commitplease@2.7.3`

[2016-09-11 10:18] Jmclerck commented on #79
Hi @all3fox, I'm on holiday this week so I won't be able to test this until next Monday, I hope that isn't a problem. I'll get back to you as soon as I have tested `"commitplease": "next"`, thanks

[2016-09-19 08:46] Jmclerck commented on #79
Hi @all3fox, I am back at work today after my holiday (boo) but I have tried the `next` version of `commitplease` and again the install completed successfully, this is using `node@v4.5.0` and `npm@2.15.9`, I have been unable to test with `node@6.x` and `npm@3.x` because of an unrelated Docker issue, but I think I will need to raise another issue for that. As for submodules everything seems to work

[2016-09-19 11:55] all3fox commented on #79
thanks @Jmclerck, it is now published as `2.7.3`, make sure to eventually stop using `beta` and `next` tags as they will be pointing at unstable versions, also reopen if necessary :)

[2016-09-19 11:55] #79 closed

[2016-09-19 16:43] jzaefferer opened #85 "Improve feedback flow"
Currently the commit-msg hook is rather bad at providing feedback. It aborts the commit, dumps the message on the terminal and then leaves it to the user to start over. Something a little more interactive would be nice, like keeping the previous message when attempting to commit again.

Hoping @all3fox might have some ideas what we could do here.

[2016-09-19 21:21] all3fox commented on #85
Yes, I agree that it is very annoying to loose a (long) carefully crafted commit message simply because it failed one-or-two syntax checks. So it needs a way to persist to next commit.

Well, a wild idea would be "autocorrection" of the more obvious style errors. For example, remove full stops at the end of the subject line and. Or even if some style check failed with an error, then a subsequent t

[2016-09-20 09:06] jzaefferer commented on #85
Reusing the previous commit message as a template for the next one, but only if the last attempt failed, sounds interesting. Could still combine that with an actual template, when there is no previous failed attempt.

[2016-09-22 09:19] #83 closed

[2016-09-30 10:30] Jmclerck opened #87 "Generic Commit message pattern"
I have been trying to use the, admittedly, experimental regex patterns described in the README and I'm struggling to make it do what I want. We have both a very specific first commit line style but a looser long description in the company I work for. I am trying to use the existing patterns to check a first commit line with a style similar to this:

`[XX-01]: Initial commit`

`XX` in this case wou

[2016-09-30 10:43] all3fox commented on #87
It looks like you want a "dynamic" element `[XX-01]` where both `XX` and `01` keep changing and the "brackets and minus" structure (`[..-..]`) remains unchanged, right?

If you do not have a crazy amount of projects, a quick fix is to add this into `package.json`:

[code]

If that does not work for you or you do not feel like adding it into 42+ projects, let me know

[2016-09-30 10:50] Jmclerck commented on #87
Hi @all3fox thanks for your swift response as usual 😸

That is pretty much what I am looking for. At the moment we are only using `commitplease` on one project so at this time the `XX` would be fixed, although it would need to be configured in the future.

The digits after the minus change frequently though as they are references to tickets so it would need to an expression like `\d+`. That is why

[2016-09-30 10:59] all3fox commented on #87
Hi, more questions then:

1. Why would you need a different `XX` in the commit history of the project (since you know that you are looking at the history of that project, you know what `XX` has to be). Are you building some "aggregated" project out of many smaller ones?
1. The integer part: is it a project's version or an issue number? If that is an issue number, why not stick with the `closes #12

[2016-09-30 11:17] Jmclerck commented on #87
Hi,

1. We have an internal ticket tracking system that is separate to our source control systems, so in order to cross reference commits to the ticket system we always prefix the commit messages with the ticket number which is always in the format `XX-\d+`. We wouldn't have a different `XX` in the same commit history, but the `XX` would change between projects so it would need to be configurable

[2016-09-30 12:26] jzaefferer commented on #87
Could we extend the `components` check to accept a regex? If its a string, check for exact match, if its a regex, see if it passes...

[2016-09-30 14:02] Jmclerck commented on #87
@all3fox + @jzaefferer sounds like it would be fine for my purposes, I'll be happy to test for you and provide feedback. Thanks again!

[2016-10-02 22:47] all3fox commented on #87
@Jmclerck please try out the feature by:

`npm install git+https://github.com/jzaefferer/commitplease.git#component-as-regexp`

and then adjusting `package.json` to use a regexp:

[code]

[2016-10-03 13:44] Jmclerck commented on #87
Hi @all3fox, I have just tried out the new branch and it suits my purposes perfectly. I am happy with the modification to the behaviour. I'll leave it to up you to you guys to merge into the project but if there is any more testing to be done, please let me know and thanks again for all your hard work 👍

[2016-10-03 18:58] all3fox commented on #87
This change landed on npm as `2.7.5` (or `latest`). Note that there was a last-minute small change: every `component` from the list of `components` gets surrounded by `^component$`, so you can drop the `^` from my previous comment:
[code]
Feel free to come back with more issues/feature requests!

[2016-10-03 18:58] #87 closed

[2016-10-05 11:30] all3fox commented on #85
My current thinking is to write a separate `prepare-commit-msg` hook that checks the contents of the `.git/COMMIT_EDITMSG` file. If the contents of that file fail the style check, then these contents are reused as a commit message template. If the contents pass (or there is no such file), then use some prepared-in-advance template. This hook will get installed by the already-present logic from `in

[2016-10-05 12:51] jzaefferer commented on #85
That sounds good!

[2016-11-17 20:39] ZwoRmi opened #89 "Hook does not display errors"
I think I've misunderstand something.
According to the doc, I've installed your package using `npm install commitplease --save-dev`. That's working, I can see the hook `.git/hooks/commit-msg`.
The hook is trigerred when I run `git commit -m 'my message'`. The main function of your `index.js` is called **but** the `runValidate()` function is not called.

Do I need another option for this `runValida

[2016-11-17 20:49] all3fox commented on #89
Hello, @ZwoRmi

Is the root of your git repository (I mean the `.git` folder) in the same folder as your `node_modules`? If yes, does it contain more files than just `.git/hooks/commit-msg`?

What you are supposed to do is this:

[code]

[2016-11-17 20:49] ZwoRmi commented on #89
If I comment those 2 lines in `index.js`, everything works fine :

[code]

But I'm pretty sure I'm breaking other features

[2016-11-17 20:52] ZwoRmi commented on #89
@all3fox Yes my `.git` folder is in the same folder as my `node_modules`.
My `.git/hooks/` folder contains git default `.sample`

[2016-11-17 20:55] all3fox commented on #89
What are your `node --version`, `git --version`, your OS?

Did you setup anything commitplease-related in your `package.json`?

[2016-11-17 20:59] ZwoRmi commented on #89
[code]

[code]

OS -> Windows 10

In my `package.json` I've added thedefault  angular config from your README.md :
[code]

[2016-11-17 21:11] ZwoRmi commented on #89
Oh.. windows windows windows...

[code]

[2016-11-17 21:16] all3fox commented on #89
Strange, so `path.join` chooses the backward slash `\` because it is on windows, yet `argv[0]` gets it with a forward slash `/`. Are you by any chance on MinGW or anything like that?

[2016-11-17 21:23] ZwoRmi commented on #89
Yes, I'm not sure but I think I'm using MSysgit (installed when I installed git on windows)

[2016-11-17 21:37] all3fox commented on #89
Ok, I have read the readme of MSysgit: https://github.com/msysgit/msysgit/

It seems to pretend as if it were a Linux (gives you bash, gcc and all) and provides a Linux-like `argv[0]`. And you probably installed node with the "node for windows" option [from the node website](https://nodejs.org/en/download/), so the `path` knows that you are on windows. Hence the confusion.

Unfortunately, I have n

[2016-11-17 21:44] ZwoRmi commented on #89
I will try this. Thanks for all your help since that's clearly not your package but my configuration which causes this issue.

Hope this great package will continue to evolve.

[2016-11-18 18:51] #89 closed

[2016-12-04 00:19] mgol opened #91 "Using a word containing a keyword breaks the validation"
I discovered that using the word "reformat" in the commit description breaks the validation, saying there is an incorrect ticket reference. I assume this is because of the "ref" prefix in the word; changing it to "re-format" fixes the check.

[2016-12-04 09:30] all3fox commented on #91
Hello @mgol, I have tried to reproduce it with `2.7.6` by placing `reformat` into the first line, as well as at the beginning and the body of the commit message (4 variations in total). It triggered no problems for me.

Could you tell me your commitplease version as well as any settings you set in `package.json`? Could you also share the commit message?

Finally, I have done a `grep "ref" -R --exc

[2016-12-04 20:35] mgol commented on #91
I'm sorry, I haven't noticed we're using 2.6.1 in jQuery Core currently; that might be causing issues.

[2016-12-04 20:53] all3fox commented on #91
I confirm that `2.6.1` is causing the issue, currently working on updating to `2.7.6` for jQuery Core

[2016-12-04 21:45] mgol commented on #91
I'll close the issue since there is no problem in current commitplease. Thanks for confirming the situation!

[2016-12-05 12:35] #91 closed

[2016-12-05 12:36] jzaefferer commented on #85
@all3fox would still be great to address this. Will you have a chance to implement it?

[2016-12-05 14:35] all3fox commented on #85
@jzaefferer I will see what I can do on Wednesday 7/12/16

[2017-01-15 22:49] jzaefferer commented on #85
@all3fox would you still be interested in working on this?

[2017-01-17 19:11] all3fox commented on #85
Sorry to keep feeding you promises. I tried to hack it yesterday-today but did not make much progress.

It is also a month of exams for me now, so I will not be doing it in January anymore, I will get back to it in February.

Here is an actual question for you: in order to reuse the faulty commit message, it has to be saved somewhere. So, the `commit-msg` hook has to save it somewhere and the `pre

[2017-02-09 09:57] jzaefferer commented on #85
Could we write a COMMIT_EDITMSG_OLD before exiting with an error code, and look for that the next time?

[2017-02-19 10:48] jzaefferer commented on #85
Fixed by 5fe20743645d5640f09fbbe92dea194a6531c54b, released as 2.7.8.

[2017-02-19 10:48] #85 closed

[2017-02-19 10:49] jzaefferer commented on #47
Can't tell if this is still an issue, since its been a year, I'm closing.

[2017-02-19 10:49] #47 closed

[2017-02-19 10:50] jzaefferer commented on #49
Can't tell if this is still an issue, since its been a year, I'm closing.

[2017-02-19 10:50] #49 closed

[2017-02-19 10:51] jzaefferer commented on #62
I think the outreach last year was plenty. Adoption wasn't anywhere near to what we've hoped for, but that's okay.

[2017-02-19 10:51] #62 closed

[2017-02-19 10:51] jzaefferer commented on #63
Nevermind

[2017-02-19 10:51] #63 closed

[2017-02-19 10:52] jzaefferer commented on #71
Closing, as we can't even test it. And usually this is "their" fault, in that they don't print output from git properly, affecting any related tool.

[2017-02-19 10:52] #71 closed

[2017-02-19 10:52] #82 closed

[2017-02-19 10:53] jzaefferer commented on #84
@all3fox since you filed this issue and it seems like it should be fairly easy to address: Do you want to take care of this?

[2017-02-19 10:53] jzaefferer commented on #25
Too little interest/value.

[2017-02-19 10:53] #25 closed

[2017-02-19 10:54] jzaefferer commented on #81
Too little interest/value.

[2017-02-19 10:54] #81 closed

[2017-02-21 14:55] all3fox opened #95 "Subsequent `git commit -m` get swallowed and ignored"
If your first `git commit -m` fails style validation, subsequent `git commit -m` get ignored.

The only way out is to do plain `git commit`, get your editor opened and fix the commit message.

Expected behaviour is that subsequent `git commit -m` should update the message.

[2017-02-21 21:22] #84 closed

[2017-02-21 21:29] #95 closed

[2017-04-12 06:15] kishu opened #97 "Display my own guidelines URL"
If I set a URL for the my own "[guidelines page](https://github.com/naver/egjs/wiki/Commit-Log-Guidelines)", how about displaying an **see** field when an error occurs?

It based angular's guidelines but there is something else.

so if set like below...
[code]

when error occurs console displaying ...
[code]

[2017-04-13 09:32] all3fox commented on #97
Thanks, that looks  reasonable, let's see what @jzaefferer has to say about your idea and my code.

Unfotunately, I did not write any tests because I was too lazy. The `console.log('\nSee')` call happens inside the `runValidate` function which ends with `exit(1)` and therefore cannot be unit-tested like the small-and-nice `sanitize` and `validate` functions can.

The proper way is to refactor that

[2017-04-25 09:38] jzaefferer commented on #97
That commit looks good to me! @all3fox can you merge and publish it?

[2017-04-29 12:22] #97 closed

[2017-04-29 12:27] all3fox commented on #97
Sorry for the delay, had a new notebook and the fonts/flickering were abysmal. All fixed now but took a lot of time.

@kishu, `2.7.10` is up and you can set custom urls. Feel free to reopen/ask, if something does not work.

[2017-07-05 06:15] jiaweihli opened #99 "[Request] Support skipping certain lines being linted for line length"
I recently wrote a commit message that contained URLs that were over 100 characters long.
That's the upper limit of the AngularJS style guidelines.

Do you plan to support this, and what do you think is a good way of handling this?

[2017-07-05 06:21] jiaweihli opened #100 "[Bug] Husky hook erroring out"
My `package.json` configuration looks like this:

[code]

When I commit something with this setup, I get this error:

[code]

Is this an issue with the documentation or a bug in the code?
My current workaround is to set:

[code]

which is working fine.

[2017-07-05 07:57] all3fox commented on #100
As you probably already know, `commitplease` uses `argv[0]` to decide if it is going to fetch `.git/COMMIT_EDITMSG` and check it (working as a hook) or if it is going to use a `git` manipulation library to fetch the whole `.git` and check (possibly all of the) commits (working as a script).

Recently (see https://github.com/jquery/jquery/issues/3708) it looks like either `node` or `git` have stopp

[2017-07-05 08:08] all3fox commented on #99
As I understand, commitplease is prohibiting you from using verly long URL's. A quick workaround would be to do it like `jquery` does: add a regex into `markerPattern` and `ticketPattern` in your `package.json`:

[code]

Look at the second `OR` parts of those regexes:

[code]

Essentially, what it says is that everything starting with a `Refs:` will be treated as a commit reference. In fact, that

[2017-07-06 08:26] jiaweihli commented on #100
Thanks for the detailed explanation, that makes sense.

What do you think about updating the documentation in the meantime to include `.git/COMMIT_EDITMSG` in the `commitmsg` hook?

[2017-07-06 08:27] jiaweihli commented on #99
Oh I see, I didn't realize that these patterns excluded the lines from the length check.  I'll try that next time.

[2017-07-12 09:55] Narretz opened #101 "Optionally disallow "WIP", "Merge" ( and fixup! / squash!)"
These messages are hard-coded in https://github.com/jzaefferer/commitplease/blob/cec0dd6d28ed1ec42843285192072877830c1f96/lib/validate.js as far as I can see.

This is okay when a commit range gets reviewed before merging, but to be 100% strict, you should be able to turn off any of this in specific circumstances / make it overwritable like the config)

For example, in Angular / AngularJS merge co

[2017-07-12 09:57] Narretz opened #102 "fixup! and squash! docs do not reflect actual behavior"
The docs say:

But in fact, with style: angular, a single `fixup!` on the first line is also valid.

The docs say that only fixup! and squash! which include the line of the commit to fixup / squash are valid.

[2017-07-13 15:14] jzaefferer commented on #100
@all3fox I guess #98 will fix this?

[2017-07-13 15:15] jzaefferer commented on #101
@Narretz would you be interested in implementing the necessary change in a PR?

[2017-07-13 15:16] jzaefferer commented on #102
I'm not sure I understand the issue here. Could you add an example or two with valid and invalid samples, both expected and actual? We could also use those for adding more unit tests.

[2017-07-13 15:38] all3fox commented on #100
No, I doubt it, that issue is for the jQuery install problem: https://github.com/jquery/jquery/issues/3708

[2017-07-13 15:48] Narretz commented on #102
Sure!
`git commit --fixup <committish>` creates a commit message that looks like:

[code]

But commitplease also allows a commit message that looks like this:

[code]

The docs say only the first version is allowed.

[2017-07-13 15:49] Narretz commented on #101
Not at the moment - I'd need to familiarize with the code first

[2017-07-14 08:40] jzaefferer commented on #102
Gotcha. So we could validate that there's some text following the `fixup!` prefix. Checking if its the subject line of another commit is going to be quite a bit more effort, and I'm not sure if that's worth it. Personally I use `fixup!` a lot with just some text following the prefix.

Maybe a change in the docs is enough here?

[2017-07-14 08:42] jzaefferer commented on #101
A PR with updated tests or docs or both would already help. Otherwise I'm hoping @all3fox can help out

[2017-07-14 09:55] Narretz commented on #102
A change in the docs is okay with me, less confusing definitely

Jörn Zaefferer <notifications@github.com> schrieb am Fr., 14. Juli 2017
10:40:

[2017-07-17 13:37] #102 closed

[2017-07-20 16:26] jzaefferer commented on #99
The docs never mention this exception, let's update them. @jiaweihli would you do a PR on the README for that?

[2017-09-08 12:54] FezVrasta opened #104 "scope required when it should be optional"
according to the Angular guidelines, the scope is optional. But commitplease seems to complain about it missing in my commit messages.

Is there some config I need to set or is it  abug?

[2017-09-08 16:50] all3fox commented on #104
Hey @FezVrasta, no, there is no config. I remember reading https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#commit and seeing the line:

[code]

I wondered, if the `()` should be left empty if there is no scope. Then I grepped the contents of the `git log` and did not find any examples of messages with no scope. So I decided that the parenthesis stay in.

If you feel like it is a

[2017-09-08 16:52] FezVrasta commented on #104
![image](https://user-images.githubusercontent.com/5382443/30222256-e6059864-94c6-11e7-8705-96073f4a4fbb.png)

[2017-09-09 09:34] all3fox commented on #104
Which in my mind should translate into:

[code]

[2017-09-09 09:44] FezVrasta commented on #104
So, for you optional means mandatory? That's weird. Anyway, I switched to `validate-commit-msg`, it works better, thanks anyway.

[2017-09-09 09:44] #104 closed

[2017-10-09 07:02] marionebl opened #105 "Join forces with commitlint?"
Hey there,

just learned about `commitplease` by chance.
Thanks for making your work available!

I am the author of [commitlint](http://marionebl.github.io/commitlint/#/), a tool very similar to yours.

I wonder if we could join the efforts on both tools in some way?

[2017-10-09 12:02] all3fox commented on #105
Hey, thanks for reaching out.

I've taken a very quick look at `commitlint`, it looks nice, you've clearly put a bit of effort into it. Here is a (not in any way complete or even correct) comparison:

1. You use ES6 features, we don't
2. You have your documentation split between github readme and github pages website. It gives an impression that your documentation is simpler (although it probably

[2017-10-09 12:30] marionebl commented on #105
To make this a bit clearer, my thoughts are:

1. scopes are similar enough to think about code sharing
2. there is non-trivial effort involved in maintaining each
3. I can imagine lots of shades of collaboration, from listing each other as "related", over sharing config formats, sharing core libs up to merging into one tool.

Before investing the time to analyse the differences in detail I figured

[2017-10-09 14:41] jzaefferer commented on #105
I'm interested in collaboration. In general I don't think the JavaScript community needs more choice - less options of good tools is generally better. Like eslint now being pretty much the only tool for linting JS files, and that's a good outcome.

A few thoughts, not a detailed analysis:
* commitplease has been around ~2 years longer, yet has less contributors and users
* commitplease is an all-i

[2017-10-09 14:43] jzaefferer commented on #105
One more thing: If you take the time for a detailed analysis, I suggest you also check #62, #63 and #81.

[2017-10-10 06:14] marionebl commented on #105
What I gather from your feedback is that there are the following dimensions worth focusing on during an analysis

* Installation
* Initial setup
* Configuration formats
* API

For the time being I'd set aside internal stuff as implementation details, e.g.

* Build system
* CI setup
* Tests

Thoughts, additions?

[2017-10-10 06:51] jzaefferer commented on #105
Sounds good!

There might be some tests worth sharing, but since users won't care about
that, it's much less important.

On Oct 10, 2017 08:14, "Mario Nebl" <notifications@github.com> wrote:

[2017-10-27 07:16] Aqours commented on #100
I found `.git/COMMIT_EDITMSG` always show old message which I used, but not the new message I input when using `git commit`.

Is there a (temp) solution to resolve this issue?

[2017-10-27 12:28] all3fox commented on #100
@jzaefferer I traced this problem back to husky, take a look at [this line][1]. Husky uses this script to "build" all of their hooks on the fly at install time. The line I am linking to is used in the following fashion: scan `package.json` for predefined entries into `scripts` and run that entry when the hook is triggered.

There are no arguments passed anywhere, just the `scripts` entry is run. S

[2017-10-27 12:38] all3fox commented on #100
Ok, since it was a one-sentence change, I took the liberty of pushing everything to master. Once again, thanks to @jiaweihli  and sorry for not getting to this sooner. Feel free to reopen if needed.

[2017-10-27 12:38] #100 closed

[2017-11-04 14:56] Comandeer opened #106 "getProjectPath fails on Travis CI"
I've run into this issue in my project, which uses commitplease with [greenkeeper-lockfile](https://github.com/greenkeeperio/greenkeeper-lockfile). This package sometimes tries to do a new git commit during Travis CI build. However it fails because [commitplease can't find `package.json` file](https://travis-ci.org/Comandeer/rollup-plugin-babel-minify/jobs/291403638#L1538).

<details><summary>Erro

[2018-01-31 13:36] mgol commented on #106
I've hit the same on a regular macOS terminal when using [jquery-release](https://github.com/jquery/jquery-release) to try to release an alpha of [jQuery Color](https://github.com/jquery/jquery-color).

commitplease `2.7.10` doesn't seem to have this issue.

[2018-02-01 11:56] jzaefferer commented on #106
@alisianoi could you look into this?

[2018-02-01 21:00] alisianoi commented on #106
@Comandeer thanks for the initial MWE and sorry that I completely forgot about you! Your MWE works know, the issue appears to be that sometimes `PATH` environment variable contains absolute paths, and sometimes relative ones.

I dunno if it fixes the issues for you @Comandeer or you @mgol but if you could try it out that would be great. You can do this:

1. Take your repo that depends on commitple

[2018-02-01 21:14] Comandeer commented on #106
TBH I resolved my issue in the other way (I've added check if `git commit` is run on CI or not; if it's CI, I just skip commitplease). But I updated my test repo with new version of `getProjectPath` (the one with `path.resolve`) and it seems that [results are correct](https://travis-ci.org/Comandeer/travis-tests/builds/336290654#L459).

[2018-02-02 10:12] jzaefferer commented on #105
@marionebl how's your interest in this?

[2018-02-02 11:13] marionebl commented on #105
Still there, just swamped with other things!

[2018-02-02 18:58] alisianoi commented on #106
Published as `3.2.0`, the issue could probably be closed.

[2018-02-02 18:58] #106 closed

[2018-04-28 13:20] markelog opened #108 "Skip links for the length rule"
Sometimes it's preferable to use links which might be longer then assigned limit, you do have the rules – `markerPattern`, `actionPattern`, `ticketPattern`, but it's intended for the issues and it's a bit convoluted to use.

It would be nice if you could auto-detect the links and skip them without introducing additional configuration properties

[2018-05-04 11:52] markelog commented on #108
Sure, I guess, feels a bit awkward though. Like
[code]

In such case I would have to restructure commit message to make proper. I envision it like `ignoreUrls` of `max-length` rule of the eslint

[2018-05-04 12:06] jzaefferer commented on #108
[code]
That's not so bad, is it?

[2018-05-04 13:52] markelog commented on #108
Not saying it is, look above

Regards,
Oleg

[2018-10-24 10:37] markelog commented on #108
It's not :)

[2019-07-23 07:19] JuanMaRuiz opened #110 "Allow users to provide his own configuration"
I think it would be great to allow users to provide his own file with his desired rules. If I'm not wrong this tool will use 'jquery' style by default: if there are no defined options, if style options is undefined or style is setted as 'jquery'. If `options.style` is angular it will work fine and will use the defaults configuration object. It will fail otherwise.

It would be great if you could h

[2020-06-19 22:16] Krinkle opened #111 "Allow skipping of hook at install time"
Follows-up https://github.com/jzaefferer/commitplease/issues/36.

My dev environment for Node.js specifically mounts project directories in the isolation container with read-only access to `.git` for security reasons ([details](https://gerrit.wikimedia.org/g/fresh/)).

This means I'm currently unable to run `npm install` in e.g. [qunit](https://github.com/qunitjs/qunit/) since it will fail mid-way

[2020-06-22 00:10] alisianoi commented on #111
Hi,

No comment, let's ping @jzaefferer to answer that. However, please bear in mind that you would also have the qunit project accept a version bump PR.

That happens because the [`install.js` script calls `getOptions`](https://github.com/jzaefferer/commitplease/blob/4ee1606a943698b0fbeda1b9f0b7b364d495793d/install.js#L5), which in turn inspects `.npmrc` and `package.json` files.

Generally, for

[2021-07-09 08:44] Splaktar opened #113 "Allow Revert commits"
I would like to be able to allow commits like the following when using the `angular` style:

[code]